body{
    background-color:rgb(188, 129, 57);
}
.head{
    color: darkblue;
}
#bglime{
    background-color: aqua;
}
#red{
    color: red;
}
p{
    color: white;
}
#para{
    color: green;
}
#black{
    color: black;
    font-size: 50px;
}
ul{
    color: white;
}
ul  li:first-child a{
    background-color: yellow;
}
ul li:nth-child(2) a{
    background-color: lightgreen;

}
ol li:nth-child(3){
    color: aquamarine;
}
ol li:nth-child(4){
    color:darkviolet;
}
